[user]
  name = Tomas Kozelek
  email = tomas.kozelek@gmail.com
[color]
  ui = auto
[color "branch"]
  current = red
  local = green
  remote = blue
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less -FRSX
  editor = /usr/bin/vim
[alias]
  st = status
  ci = commit
  cia = commit -a
  cim = commit -m
  ciam = commit -a -m
  br = branch
  ba = branch -a
  bd = branch -D
  co = checkout
  d  = diff
  lg = log -p --decorate
  l  = log --one
  log = log
  wc = whatchanged
[push]
  default = upstream

