[user]
	name = Tomas Kozelek
	email = tomas.kozelek@gmail.com
[color]
  ui = auto
[color "branch"]
  current = red
  local = green
  remote = blue
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less -FRSX
  editor = /usr/bin/vim
	excludesfile = /Volumes/data/Users/tomik/.gitignore_global
[alias]
  st = status
  ci = commit
  a = commit --amend
  aa = commit -a --amend
  cia = commit -a
  cim = commit -m
  ciam = commit -a -m
  br = branch
  ba = branch -a
  bd = branch -D
  co = checkout
  d  = diff
  dc  = diff --cached
  lg = log -p --decorate
  l  = log --oneline
  log = log
  wc = whatchanged
  plr = pull --rebase
  rc = rebase --continue
  ri = rebase -i
[push]
  default = upstream

[github]
	user = tomik
[ghi]
	token = c307b5f25c064308cd468529265a068fcf98ba67
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
